<ion-content padding class="guide-modal">

    <ion-icon class="close-button" id="close-button" name="close-circle" (tap)="dismiss()"></ion-icon>
    <div>
        <p style="text-align: center; font-size: 2rem">
            <b>Device Expired!</b>
        </p>
        <p>
            <button ion-button block outline color="secondary" (tap)="activate()">Activate</button>
        </p>
    </div>
</ion-content>